/* include stylesheet for truYum */
.material-icons.md-36 {
	font-size: 35px;
	line-height: 1.5;
	vertical-align: middle;
}

.material-icons.other_icon {
	line-height: 1.75;
	vertical-align: middle;
}

.navbar_top {
	background-color: rgb(39, 122, 218);
	width: 100%;
	margin:0px;
}

.navbar_bottom {
	background-color: rgb(39, 122, 218);
	position: fixed;
	width: 100%;
	bottom: 0;
}

.badge-primary.delivery_badge {
	vertical-align: super;
}

.delete-icon {
	text-align: right;
}

.signup-btn {
	background-color: rgb(94, 171, 139 );
	color: white;
}

.search-bar {
	background-image:
		url("https://images.unsplash.com/photo-1542310503-ff8da9c02372?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

#top {
	text-align: float right;
}

#upbar {
	background-color: #126fcc;
	color: white !important;
}

.material-icons {
	vertical-align: center;
}

.nav-link {
	color: white !important;
}

.footer {
	background-color: #126fcc;
	position: fixed; 
	color: white;
	width: 100%;
	bottom: 0; 
}

.price {
	float: right;
	color: brown;
}

.right {
	color: blue;
}

.cart {
	background-color: tomato;
	color: white;
}

.right1 {
	color: white;
}

.text-color {
	color: brown;
}

.btn:hover {
	color: white;
}

.launch {
	font-size: 15px;
}

.jumbotron {
	background-image:
		url("https://images.unsplash.com/photo-1502567439686-2281cd405d39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
	height: 100%;
	background-size: cover;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.color {
	color: white;
}

.save:hover {
	color: white;
}

.save {
	background-color: tomato;
	color: white;
}

.cartpr {
	float: right;
	color: brown;
}

.gray {
	color: gray;
}

.big {
	font-size: 25px;
	color: black;
}

.edit .invalid-feedback {
	display: block;
}