<div class="row">
	<div class="col-xs-8 mt-5 ml-5 mr-5 mb-5 mx-auto">
		<div class="card mt-5">
			<h3 class="mt-5 ml-5">Register</h3>
			<form>
				<div class="row mt-5 ml-5 mr-5">
					<div class="col-12">
                        <button class="btn btn-primary" (click)="mentor()">Register as Mentor</button>
                    </div>
                    <div class="col-12 mt-5">
                        <button class="btn btn-primary" (click)="trainee()">Register as Trainee</button><br><br>
                    </div>
				</div>
			</form>
		</div>
	</div>
</div>