<section class="hero-section set-bg">
    <div class="container" *ngIf="logIn.loginName=='guest'">
        <div class="hero-text">
            <div id="search-body">
                <h3 class="text-white">Please LogIn to See Details</h3>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="logIn.loginName=='loggedIn'">
        <div class="hero-text">
            <div id="search-body">
                <div class="row justify-content-center">
                    <ul class="nav nav-pills nav-fill text-white" id="mentor-menu">
                        <li class="nav-item">
                            <a class="nav-link" (click)="selectMentor(1)"> Training in Progress </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="selectMentor(2)"> Completed Trainings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="selectMentor(3)"> Edit Skills </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="selectMentor(4)"> Payments </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="selectMentor(5)"> Profile </a>
                        </li>
                    </ul>
                </div>

                <div *ngIf="flag1">
                    <form name="trainingForm" action="" onsubmit="return training_result()">
                        <div class="row justify-content-center" id="mentor">
                            <div class="col-sm-auto"><strong class="text-white">Select a Technology : </strong></div>
                            <div class="col-sm-3">
                                <select class="form-control" name="trainingTechnology">
                                    <option>-- Select technology --</option>
                                    <option value="spring">Spring</option>
                                    <option>Java</option>
                                    <option>MySQL</option>
                                    <option>Angular</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group md-form form-sm form-2 pl-0">
                                    <button type="submit" class="btn btn-primary">Show</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="container" id="training-result" *ngIf="flag1">
                    <div class="row justify-content-center">
                        <h4 class="text-white">Spring Training in Progress</h4>
                    </div><br>
                    <div class="row">
                        <div class="col card mt-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col text-left pt-3">
                                        <strong>Course : </strong> Spring<br>
                                        <strong>Trainee : </strong> Pritam Banerjee<br>
                                        <strong>Status : </strong> Training ongoing<br />
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                                role="progressbar" aria-valuenow="63" aria-valuemin="0"
                                                aria-valuemax="100" style="width: 63%">63%</div>
                                        </div><br>
                                        <button type="button" class="btn btn-primary">Resume Course</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col card mt-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col text-left pt-3">
                                        <strong>Course : </strong> Spring<br>
                                        <strong>Trainee : </strong> Tamasa Koner<br>
                                        <strong>Status : </strong>Requested for Training<br>Payment Pending.<br><br>
                                        <button type="button" class="btn btn-success">Approve</button>
                                        <button type="button" class="btn btn-danger">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col card mt-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col text-left pt-3">
                                        <strong>Course : </strong> Angular<br>
                                        <strong>Trainee : </strong> Anirban Mukherjee<br>
                                        <strong>Status : </strong> Training Confirmed<br> Payment Successful.<br><br>
                                        <button type="button" class="btn btn-success">Start Course</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="flag2">
                    <div class="row justify-content-center" id="menu-content">
                        <h4 class="text-white">Completed Trainings</h4>
                    </div>
                    <div class="row justify-content-center">
                        <div *ngFor="let data of mentorData">
                            <div class="col">
                                <div class="card mt-2">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col text-left pt-3">
                                                <strong>Course : </strong> {{data.name}}<br>
                                                <strong>Trainee : </strong> {{data.title}} {{data.trainee}}<br>
                                                <strong>Completed On : </strong> {{data.doc}}<br />
                                                <strong>Rating : </strong> {{data.rating}}<br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center top-buffer" *ngIf="flag4||flag5">
                    <h5 class="text-white">Scroll Down to See Details</h5>
                </div>
                <div *ngIf="flag3">
                    <div class="row justify-content-center top-buffer">
                        <div class="col-sm-auto">
                            <h3 class="text-white">Available Technologies</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center top-buffer" id="available">
                        <div class="col-sm-auto" *ngFor="let prj of listOfCourse;">
                            <button type="button" class="btn btn-info" (click)="selectedSkills(prj)">{{prj}}</button>
                        </div>
                    </div>
                    <div class="row justify-content-center top-buffer">
                        <div class="col-sm-auto">
                            <h3 class="text-white">Your Technological Skills</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center top-buffer">
                        <div class="col-sm-auto" *ngFor="let prj of userCourse">
                            <button type="button" class="btn btn-info">{{prj}}</button>
                        </div>
                    </div>
                    <div class="row justify-content-center top-buffer" id="mentor-skills">
                        <div class="col-sm-auto">
                            <button type="button" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="container" *ngIf="flag4">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">
                <strong>Withdraw fee</strong>
            </h2>
        </div>

        <div class="card-body">
            <div class="col card mt-2" *ngFor="let data of payData">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src={{data.pic}} width="150px" height="150px" class="rounded float-left" alt="">
                        </div>
                        <div class="col pt-3">
                            <strong>Trainee : </strong>{{data.trainee}}<br>
                            <strong>Course : </strong>{{data.course}} <br>
                            <strong>Completed : </strong>{{data.completed}} <br>
                            <strong>Payments made : </strong>{{data.payments}} <br>
                            <strong>Pending Payments : </strong>{{data.pending}} <br>
                        </div>
                        <div *ngIf="data.payments>0" class="col text-center pt-5">
                            <button type="button" class="btn btn-success">Withdraw payment</button>
                        </div>
                        <div *ngIf="data.payments==0" class="col text-center pt-5">
                            <button type="button" class="btn btn-success" disabled>Withdraw payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">
                <strong>History</strong>
            </h2>
        </div>
        <div class="container">
            <div class="card-body">
                <span *ngFor="let data of payData">
                    <div *ngIf="data.payments>0" class="col card mt-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <img src={{data.pic}} width="150px" height="150px" class="rounded float-left"
                                        alt="">
                                </div>
                                <div class="col pt-3">
                                    <strong>Trainee : </strong>{{data.trainee}}<br>
                                    <strong>Course : </strong>{{data.course}} <br>
                                    <strong>Payment Status : </strong>Payment Recieved
                                </div>
                                <div class="col text-center pt-5">
                                    <button type="button" class="btn btn-primary">Payment Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="flag5">
    <div class="row justify-content-center" id="mentor">
        <form class="md-form col-7 mt-3">
            <div class="form-group">
                <p class="h3"><strong> Mentor Profile</strong></p>
            </div>
            <div class="file-field">
                <div class="mb-4">
                    <img src=".././../assets/img/profile.jpg" width="150px" height="150px"
                        class="rounded-circle z-depth-1-half avatar-pic" alt="">
                </div>
                <input type="file" class="btn btn-secondary" />
                <button class="btn btn-primary" type="button">Upload</button>
            </div>
        </form>
        <form class="col-7 top-buffer">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Full name" type="text">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Email address" type="email">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>

                <input name="" class="form-control" placeholder="Phone number" type="text">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-calendar-check-o"></i> </span>
                </div>

                <input name="" class="form-control" placeholder="Number of years experience" type="number">
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect3">Time Zone</label>
                <select single class="form-control " id="exampleFormControlSelect3">
                    <!-- Time Zone span -->
                    <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">
                        (GMT-12:00) International Date Line West</option>
                    <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">
                        (GMT-11:00) Midway Island, Samoa</option>
                    <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">
                        (GMT-10:00) Hawaii</option>
                    <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">
                        (GMT-09:00) Alaska</option>
                    <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">
                        (GMT-08:00) Pacific Time (US & Canada)</option>
                    <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">
                        (GMT-07:00) Mountain Time (US & Canada)</option>
                    <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">
                        (GMT-06:00) Saskatchewan</option>
                    <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">
                        (GMT-05:00) Indiana (East)</option>
                    <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">
                        (GMT-04:00) Santiago</option>
                    <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">
                        (GMT-03:00) Montevideo</option>
                    <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">
                        (GMT-02:00) Mid-Atlantic</option>
                    <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">
                        (GMT-01:00) Azores</option>
                    <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">
                        (GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                    <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                        (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                    <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                        (GMT+02:00) Windhoek</option>
                    <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">
                        (GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                    <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">
                        (GMT+04:00) Abu Dhabi, Muscat</option>
                    <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">
                        (GMT+05:00) Islamabad, Karachi, Tashkent</option>
                    <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">
                        (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                    <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">
                        (GMT+06:00) Astana, Dhaka</option>
                    <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">
                        (GMT+07:00) Krasnoyarsk</option>
                    <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                        (GMT+08:00) Taipei</option>
                    <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">
                        (GMT+09:00) Yakutsk</option>
                    <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">
                        (GMT+10:00) Vladivostok</option>
                    <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">
                        (GMT+12:00) Auckland, Wellington</option>
                    <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">
                        (GMT+13:00) Nuku'alofa</option>
                </select>
            </div>

            <div class="form-group">
                <label for="timeSlot">Select Preferred Time Slot</label><br>
                <input type="checkbox" id="time-slot-1" class=" form-check-inline mr-2 ml-2" min="0">
                <label for="time-slot-1">09:00 AM - 11:00 AM</label>
                <br><input type="checkbox" id="time-slot-2" class=" form-check-inline mr-2 ml-2" min="0">
                <label for="time-slot-2">10:00 AM - 12:00 PM</label>
                <br><input type="checkbox" id="time-slot-3" class=" form-check-inline mr-2 ml-2" min="0">
                <label for="time-slot-3">11:00 AM - 01:00 PM</label>
                <br><input type="checkbox" id="time-slot-4" class=" form-check-inline mr-2 ml-2" min="0">
                <label for="time-slot-4">02:00 PM - 04:00 PM</label>
                <br><input type="checkbox" id="time-slot-5" class=" form-check-inline mr-2 ml-2" min="0">
                <label for="time-slot-5">03:00 PM - 05:00 PM</label>
            </div>

            <div class="form-group">
                <label class="theme-color-5">Facilities Provided</label> <br>
                <input type="checkbox" id="material-video" class=" form-check-inline mr-2 ml-2" min="0">
                <label for="material-video">Videos</label>
                <input type="checkbox" id="matrial-ppt" class=" form-check-inline mr-2 ml-2" min="0">
                <label for="matrial-ppt">Presentations</label>
            </div>
            <div class="form-group">
                <label for="profile" class="theme-color-5">LinkedIn Profile</label>
                <input type="text" class="form-control" id="profile" min="0" placeholder="LinkedIn Profile Url">
            </div>
            <div class="form-group">
                <label for="resume" class="theme-color-5">Upload Your Resume</label><br>
                <input type="file" class="btn btn-secondary" id="resume" />
                <button class="btn btn-primary" type="button">Upload</button>
            </div>
            <label for="" class="theme-color-5">Enter Password To Save Changes</label><br>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Password" type="password">
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-4 mt-2">
                    <button type="button" class="btn btn-primary btn-block">Change Password</button>
                </div>
                <div class="form-group col-4 mt-2">
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>