<div class="bg">
	<div class="row">
		<div class="col-xs-11 mt-5 ml-5 mr-5 mb-5 mx-auto">
			<div class="card">
				<h3 class="mt-3 ml-5">Login</h3>
				<br>
				<div class="alert alert-danger ml-5 mr-5"
					*ngIf="username.touched && password.touched && !this.authService.validCredentials">Invalid UserId /
					Password</div>
				<form [formGroup]="loginForm">
					<div class="row mt-2 ml-5 mr-5">
						<div class="col-12">
							<label for="username">UserID</label>
							<input type="text" class="form-control" placeholder="Enter UserID"
								formControlName="username" id="username" required>
							<div class="text-danger"
								*ngIf="username.touched && username.invalid && username.errors.required">UserId is
								required
							</div>
						</div>
					</div>
					<div class="row ml-5 mr-5">
						<div class="col-12 mt-3">
							<label for="password">Password</label>
							<input type="password" class="form-control" placeholder="Enter Password"
								formControlName="password" id="password" required>
							<div class="text-danger"
								*ngIf="password.touched && password.invalid && password.errors.required">Password is
								required
							</div>
						</div>
					</div>
					<div class="row mt-5 ml-5 mr-5 mb-5">
						<div class="col-6">
							<button type="submit" [disabled]="!loginForm.valid" (click)="logindone()"
								class="btn btn-primary ">Login</button>
						</div>
						<div class="col">
							<div>
								<button type="submit" class="btn btn-primary signup-btn"
									(click)="register()">Register</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>