<div class="container-fluid mb-2 pb-2 mt-3">
    <h4>Skill Details</h4>
    <form class="needs-validation" [formGroup]="editForm">
        <div class="form-row">
            <div class="form-group col-md-3 mb-3 mt-3">
                <label for="rating">Rating</label>
                <input type="text" class="form-control" id="rating" formControlName="rating" placeholder="Enter rating 1 out of 5">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-3">
                <label for="experience">Skill Experience</label>
                <input type="text" class="form-control" id="experience" formControlName="experience" placeholder="Enter years of experience" >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-3">
                <label for="trainings">Training Delivered</label>
                <input type="text" class="form-control" id="trainings" formControlName="trainings" placeholder="Enter training delivered">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-3">
                <label for="facilities">Facilities Offered</label>
                <input type="text" class="form-control" id="facilities" formControlName="facilities" placeholder="Enter the facilities">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-3">
                <button type="submit" class="btn btn-primary" (click)="addskill(editForm.value)">Add Skill</button>
            </div>
        </div> 
        <div class="form-row">
            <div class="form-group col-md-6 mb-3 mt-3">
                <button type="submit" class="btn btn-primary" (click)="submit(editForm.value)" >Submit</button>
            </div>
        </div>
    </form>
</div>
    
    


